[Desktop Entry]
Name=rwstarter
GenericName=librw starter
Icon=rwstarter
Exec=rwstarter %F
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;
Keywords=3D;
StartupNotify=false
StartupWMClass=rwstarter
